$base_font_size: 16;
$px: (1 / $base_font_size) * 1rem;

html,
body {
  background-color: #e5e5e5;
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: 300;
  font-size: 52 * $px;
  line-height: 58 * $px;
  letter-spacing: -2px;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  font-size: 20 * $px;
  line-height: 30 * $px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

.btn {
  margin-top: 16 * $px;

  a {
    font-size: 16 * $px;
    line-height: 16 * $px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px 31px;
  }

  img {
    margin-right: 12px;
    vertical-align: bottom;
  }
}

.text-with-image {
  background-color: #fff;
  padding-top: 100px;
  margin: auto;

  @at-root #{&}__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;

    .wp-block-media-text__media {
      padding: 0 5% 0 15%;
      -ms-grid-row-align: end;
      align-self: end;
    }

    .wp-block-media-text__content {
      padding: 0 20% 0 10%;
    }
  }
}

@media (max-width: 991px) {
  .btn {
    padding-bottom: 20px;
  }

  .text-with-image {
    padding-top: 60px;

    .text-with-image__inner .wp-block-media-text__media {
      padding: 0 10%;
    }

    .text-with-image__inner .wp-block-media-text__content {
      padding: 0 10%;
    }
  }
}

@media (max-width: 767px) {
  h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 42 * $px;
    line-height: 48 * $px;
  }

  p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18 * $px;
    line-height: 28 * $px;
  }

  .btn {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .text-with-image__inner {
    text-align: center;
  }

  .btn {
    padding-bottom: 40px;
  }

  .btn__parent {
    justify-content: center;
  }

  .text-with-image {
    .text-with-image__inner .wp-block-media-text__media {
      -ms-grid-row: 2;
      grid-row: 2;
    }

    .text-with-image__inner .wp-block-media-text__content {
      -ms-grid-row: 1;
      grid-row: 1;
    }
  }
}
