.editor-styles-wrapper {
  background-color: #e5e5e5;
}

.wp-block.editor-post-title__block {
  max-width: 100%;
}

.wp-block {
  max-width: 100%;
}

.wp-block .container {
  max-width: 100% !important;
}

.editor-post-title {
  background: #f3f3f4;
}

.edit-post-visual-editor {
  padding: 0 0 50px 0;
}
